@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        min-height: 100%;
        height: auto;
    }
}

html {
    @apply bg-light text-dark;
    scroll-behavior: initial;
}

/**
  * Dark Mode
  */
@media (prefers-color-scheme: dark) {
    html {
        @apply bg-dark text-light;
    }
}

::-moz-selection { /* Code for Firefox */
    @apply bg-primary text-dark;
}

::selection {
    @apply bg-primary text-dark;
}

.title,
.description {
    font-kerning: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display uppercase font-bold;
}

/*.title {*/
/*    @apply text-6xl lg:leading-[0.8275] lg:text-9xl mb-5 overflow-hidden;*/
/*}*/

.description {
    @apply text-lg lg:text-xl;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}